.landingContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    flex-direction: column;
}


.landingContainer span{
    font-size: 50px;
    font-weight: 900;
}

.itemListContainer{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
}